<div id="loading" style="height: 100vh; width: 100vw; left: 0; top: 0; position: fixed; display: flex; z-index: 2147483647; justify-content: space-between; background: #fff; transition: opacity 0.3s ease-out, visibility 0.3s; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none">
    <div style="position: fixed; height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center">
        <div id="loadcontent" style="width: 50vmin; height: 50vmin; padding: 50px; border-radius: 50%; display: flex; justify-content: center; align-items: center; border: solid 10px #a3ddfb; text-align: center">
            <div>
                <h2>LOADING...</h2>
                <p style="word-break: keep-all">加载过慢请开启缓存（浏览器默认开启）</p>
                <div>
                    <img alt="loading" src="<%- url_for("/images/loading.gif") %>" style="height: 50px">
                </div>
            </div>
        </div>
    </div>
</div>
