:root {
	--archive-color: #5c6b72;
	--archive-bg: #fff;
	--archive-shadow: #00000017;
}
@media (prefers-color-scheme:dark) {
	:root {
		--archive-color: #cbc6bf;
		--archive-bg: #2e3031;
		--archive-shadow: #ffffff17;
	}
}
#archives {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}
#archives .categories-tags {
    margin: auto;
    margin-bottom: 50px;
    max-width: 900px;
    text-align: center;
    width: 100%;
}
#archives .categories-tags span {
    display: inline-block;
    margin: 10px;
}
#archives .categories-tags span .icon {
    color: #fff;
    margin-left: 0;
    margin-right: 10px;
}
#archives .categories-tags span a {
    border: #ffffff80 1px solid;
    border-radius: 10px;
    color: #fff;
    padding: 10px 15px;
    transition: background 0.25s, border 0.25s, color 0.25s;
}
#archives .categories-tags span a:hover {
    background: var(--archive-bg) !important;
    border: #a5c2f5 1px solid;
    color: var(--archive-color);
}
#archives .category,
#archives .tags .tag,
.article .info .category,
.article .info .tags,
.article .info .tags .tag {
    display: inline-block;
    margin-right: 10px;
}
#archives .icon {
	color: var(--archive-color);
}
#archives h3 {
    margin: 10px 0;
}
#search-bar {
    margin-bottom: 50px;
    z-index: 1;
}
#timeline-wrap {
    display: flex;
    flex-direction: column-reverse;
}
.timeline {
    margin-bottom: 30px;
    transition: margin-top 0.5s, opacity 0.3s, visibility 0.3s;
}
.timeline-content {
    background: var(--archive-bg);
    border: 1px solid #0002;
    border-radius: 3px;
    margin-left: 17.5px;
    padding: 24px;
    transition: box-shadow 0.5s;
}
.timeline-content:hover {
    box-shadow: 0 2px 8px var(--archive-shadow);
}
.timeline-tail {
    background: var(--archive-bg);
    border: 2px solid #a5c2f5;
    border-radius: 50%;
    height: 7px;
    position: absolute;
    width: 7px;
}
