#crypto {
    margin: 50px 0;
}
#crypto.failure {
    border-color: #ea4a5a;
    color: #ea4a5a;
}
#crypto.failure:focus {
    box-shadow: 0 0 0 3px #ea4a5a4d;
}
#crypto.success {
    border-color: #34d058;
    color: #34d058;
}
#footer {
    font-size: 14px;
    margin-top: 150px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
#footer #footer-icon {
    color: #66afef;
    display: inline-block;
    font-size: 18px;
    margin: 0 10px;
}
#footer #footer-wrap {
    border-top: 1px solid #aaa;
    color: #5c6b72;
    margin: auto;
    width: 900px;
    box-sizing: border-box;
}
#footer #footer-wrap div {
    margin: 15px;
}
#main {
    margin-right: calc(100% - 100vw);
}
#menu {
    background: #92cafa;
    box-shadow: 0 -1px 10px 0 #9e9e9e4d;
    font-weight: bold;
    line-height: 50px;
    position: fixed;
    top: 0;
    transition: background 0.25s ease-out, top 0.25s ease-out;
    width: 100vw;
    z-index: 1004;
}
#menu #desktop-menu {
    height: 50px;
}
#menu #desktop-menu .title {
    color: #555;
    display: inline-block;
    margin-left: 60px;
    margin-right: 5px;
}
#menu #desktop-menu a {
    color: #555;
    display: inline-block;
    margin-left: 30px;
}
#menu #mobile-menu {
    min-height: 50px;
    text-align: center;
}
#menu #mobile-menu .items {
    padding: 10px 0 20px;
    z-index: 1002;
}
#menu #mobile-menu .items .item {
    display: flex;
    justify-content: center;
    margin: auto;
    min-width: 200px;
    width: 80%;
}
#menu #mobile-menu .items a {
    color: #555;
}
#menu #mobile-menu .title {
    color: #555;
    cursor: pointer;
    z-index: 1003;
}
#menu-curtain {
    background: #0003;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
#menu.hidden {
    top: -50px;
}
#menu.menu-color {
    background: #0003;
}
#menu.menu-color #desktop-menu a,
#menu.menu-color #mobile-menu a,
#menu.menu-color #mobile-menu .title {
    color: #fff;
}
#preview {
    align-items: center;
    background-color: #fffc;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1005;
}
#preview-content {
    box-shadow: 0 0 50px 10px #d9d9d980;
    margin: auto;
    max-height: 95%;
    max-width: 95%;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    scrollbar-color: #8ab5ff #e6efff;
    scrollbar-width: thin;
    word-wrap: break-word;
}
.article {
    font-size: 15px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
}
.article .content {
    margin: 50px 0;
}
.article .info .date {
    color: #5c6b72;
    display: inline-block;
    margin-right: 10px;
}
.code-content {
    font-size: 13px;
    line-height: 2;
    overflow: auto;
    padding: 50px 30px 20px;
    white-space: pre;
}
.comment iframe,
body::-webkit-scrollbar-track {
    border-radius: 0;
}
.content {
    transition: opacity 0.25s;
}
.content img,
.content video,
.content audio,
.content iframe {
    display: block;
    margin: 15px auto;
    max-width: 75%;
}
.copycode {
    color: #5c6b72;
    position: absolute;
    right: 0;
    top: 0;
}
.copycode i {
    padding: 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.25s;
}
.copycode.copied i {
    transform: scale(1.25);
}
.copycode.copied i:first-child,
.copycode:not(.copied) i:last-child {
    opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.hljs-ln-code {
    padding-left: 20px !important;
}
.hljs-ln-numbers {
    border-right: 1px solid #ccc;
    color: #ccc;
    padding-right: 10px !important;
    text-align: right;
    vertical-align: top;
}
.icon {
    color: #5c6b72;
    margin-right: 5px;
}
.input {
    background: #f6f8fa;
    border: 1px solid #d0d7de;
    border-radius: 50px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 15px;
    height: 50px;
    text-indent: 20px;
    transition: background 0.25s, border 0.25s, box-shadow 0.25s;
    width: 100%;
}
.input:focus {
    background: #fff;
    border-color: #0969da;
    box-shadow: 0 0 0 3px #0969da4d;
    outline: none;
}
.input:hover {
    background: #fff;
}
.into-enter-active {
    transition: opacity 0.5s, transform 0.5s;
}
.into-enter-from {
    opacity: 0;
    transform: scale(1.1);
}
.katex {
    white-space: normal !important;
}
.language {
    background: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 0.75rem #ed6ea14d;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    left: 30px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
}
.page-num,
.icon-link a,
.friend-link a {
    transition: background 0.25s, color 0.25s;
}
.page-num:hover,
.icon-link a:hover,
.friend-link a:hover,
.categories-tags a:hover,
.go-post:hover {
    opacity: 1;
}
.slide-enter-active,
.slide-leave-active {
    transition: margin-top 0.3s, opacity 0.3s;
}
.slide-enter-from,
.slide-leave-to {
    margin-top: -300px;
    opacity: 0;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #8ab5ff
        linear-gradient(
            45deg,
            #fff6 25%,
            transparent 25%,
            transparent 50%,
            #fff6 50%,
            #fff6 75%,
            transparent 75%,
            transparent
        );
    border: 3px solid #e6efff;
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background: #e6efff;
    border-radius: 100px;
}
::selection {
    background-color: #3392ff2a;
    color: unset;
}
a {
    color: #66afef;
    text-decoration: none;
}
a:hover,
.content .copycode:hover {
    opacity: 0.8;
}
audio,
button,
iframe,
img,
video,
#menu,
.categories-tags a,
.copycode,
.friend-link a,
.go-post,
.hljs-ln-numbers,
.icon-link a,
.katex,
.language,
.page-current {
    user-select: none;
}
b,
strong {
    font-weight: bold;
    line-height: 2.5;
}
blockquote {
    background: #d9e8ff6b;
    border-left: 3px solid #1e3e3f;
    border-radius: 3px;
    margin: 15px 0;
    overflow: auto;
    padding: 0 15px;
}
body {
    background: #f6f8fa;
    color: #1e3e3f;
    font: 500 14px Lexend, "Noto Sans SC", sans-serif;
    overflow-x: hidden;
    width: 100%;
}
code {
    background: #bddcf76b;
    border-radius: 4px;
    line-height: 2.5;
    padding: 4px 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e3e3f;
    font-weight: bold;
    margin: 15px 0;
    word-break: keep-all;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}
hr {
    border-style: dashed none none;
    border-width: 1.5px;
}
img,
video,
audio,
iframe {
    border-radius: 10px;
}
mark {
    background: #fff13360;
    border-radius: 4px;
    color: unset;
    line-height: 2.5;
    padding: 4px 8px;
}
p,
ul,
ol {
    line-height: 1.7;
    margin: 15px 0;
}
pre {
    border: 1px solid #ebeef5;
    border-radius: 15px;
    box-shadow: 0 2px 12px 0 #0000001a;
    margin: 25px 0;
    overflow: hidden;
    white-space: normal;
}
pre,
code,
.hljs,
.input,
.language {
    font-family: "Fira Code", "Noto Sans SC", monospace;
}
table:not(.hljs-ln) {
    margin: 15px 0;
}
table:not(.hljs-ln) td:nth-child(even) {
    background: #c7e0fb4d;
}
table:not(.hljs-ln) td:nth-child(odd) {
    background: #d9e8ff4d;
}
table:not(.hljs-ln) th {
    background: #a3ddfb;
}
table:not(.hljs-ln) tr th,
table:not(.hljs-ln) tr td {
    border-radius: 3px;
    padding: 10px 20px;
}
ul li,
ol li {
    margin: 8px 0;
}
@media (min-width: 900px) {
    #menu #mobile-menu {
        display: none;
    }
    .article,
    #archives,
    #footer #footer-wrap {
        width: 900px;
    }
    ul,
    ol {
        padding-left: 40px;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    #home-posts-wrap,
    #archives {
        width: 800px;
    }
}
@media (max-width: 900px) {
    #home-posts-wrap,
    .article,
    #archives,
    #footer #footer-wrap {
        width: 100%;
    }
    #menu #desktop-menu,
    #home-card {
        display: none;
    }
    ul,
    ol {
        padding-left: 20px;
    }
}
